@charset "utf-8";

/*
Fonts available:

	font-family: 'Open Sans', sans-serif;
	font-family: 'Source Sans Pro', sans-serif;
	font-family: 'PT Sans', sans-serif;
	font-family: 'Ubuntu', sans-serif;
	font-family: 'Nunito', sans-serif;
	font-family: 'Titillium Web', sans-serif;
	font-family: 'Rubik', sans-serif;
	font-family: 'Work Sans', sans-serif;
	font-family: 'Overpass Mono', monospace;
	font-family: 'Ubuntu Mono', monospace;
	font-family: 'Quicksand', sans-serif;
*/

/*Text*/
/*Colors*/
/*Space*/
/*Geometry*/


/*----------------------------------------
           General Settings
----------------------------------------*/

* {
	/*Space*/
	margin: 0;
	padding: 2px;
}

body {
	/*Text*/
	font-size: 18px;
	font-family: 'Noto Sans', sans-serif;

	/*Colors*/
	color: #FAFBFC;
	background-color: #1C1C1C;

	/*Space*/
	margin-bottom: 300px;
}

h1, h2, h3, h4, h5 {
	/*Text*/
	font-size: 25px;
	font-family: 'Titillium Web', sans-serif;

	/*Space*/
	margin-top: 30px;
	margin-bottom: 30px;
}

a {
	/*Text*/
	text-decoration: none;

	/*Colors*/
	color: #43B0E9;
}

table {
	/*Colors*/
	background-color: #35393B;

	/*Space*/
	overflow: auto;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;

	/*Geometry*/
	border-radius: 10px;

}

td, th{
	/*Text*/
	text-align: center;

	/*Space*/
	padding-left: 25px;
	padding-right: 25px;
}

ol {
	/*Space*/
	margin-left: 3%;
}

p {
	/*Space*/
	line-height: 2;
	margin: 10px auto;
}

pre {
	/*Space*/
	overflow: auto;
}

pre code {
	/*Text*/
	font-size: 15px;

	/*Space*/
	margin-bottom: 5px;
	padding: 0px;

	/*Geometry*/
	border-radius: 10px;
}

pre code span {
	/*Space*/
	padding: 0;
}

img {
	width: 100%;
}

/*----------------------------------------
            Page Header
----------------------------------------*/

/*Classes*/
.header {
	margin: 0 auto;
	padding: 0 1.75em;
}

.logo-wrapper {
	text-align: center;
}

.logo {
	width: 2em;
	border-radius: 100%;
	fill: red;
}

/*IDs*/
#avatar {
	width: 9em;
	border-radius: 10%;

	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

#root {
	text-align: center;
	font-size: 25px;
	margin-bottom: 1px;
	margin-top: 1px;

}

#presentation {
	text-align: center;
	font-size: 15px;
	margin-bottom: 1px;
	margin-top: 1px;
}


/*----------------------------------------
                Content
----------------------------------------*/
#main {
	/*Text*/
	text-align: left;

	/*Space*/
	margin: 0 auto;
	margin-top: 3vh;

	/*Geometry*/
	width: 850px;

}

/*----------------------------------------
      Responsive General Settings
----------------------------------------*/
@media only screen and ( max-width: 800px) {
	body {
		/*Geometry*/
		margin: 5px;
	}

	h1,h2,h3,h4,h5,h6 {
		/*Text*/
		font-size: 13px;
	}
}

/*----------------------------------------
            Responsive Header
----------------------------------------*/
@media only screen and ( max-width: 800px) {
	#avatar {
		/*Geometry*/
		width: 6em;
	}

	#root {
		/*Text*/
		font-size: 18px;
	}

	#presentation {
		/*Text*/
		font-size: 13px;
	}

}

/*----------------------------------------
            Responsive Content
----------------------------------------*/
@media only screen and ( max-width: 800px) {
	#main {
		/*Space*/
		margin: .5px 10px;
		margin-left: auto;
		margin-right: auto;

		/*Geometry*/
		width: 90%;
	}
}

/*----------------------------------------
        Firefox Speciffic code
----------------------------------------*/
button::-moz-focus-inner {
	/*Geometry*/
	border: 0;
}
